<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COVID Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>welcome to 2020:</h1>
            <p>people are dying. the world is on fire.</p>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
        </div>


        {% if spacey %}
        <p>Most Recent scrape:</p>
        <script>
            var current_time = new Date();
            document.write(current_time.toLocaleString());
            document.write("<br>");
        </script>

        <h1>Mars table</h1>

        <table class='table table-hover'>
            {% for item in spacey %}
            <tr>
                <td>item.mars_table</td>
            </tr>
            {% endfor %}
        </table>


        {% endif %}
    </div>
    </div>
</body>