<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <button type="button" class="btn btn-success" href="scrape" role="button">Get Data</button> > Button
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img alt="Bootstrap Image Preview" src=/>
        </div>
        <div class="col-md-6">
            <table class="table">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
        </div>
        <div class="col-md-6">
            <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
        </div>
        <div class="col-md-6">
            <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
        </div>
    </div>
</div>